<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sistemaasistenciarf">

    <!-- Permisos necesarios para reconocimiento facial -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Declaración de características de hardware (no obligatorias) -->
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SistemaAsistenciaRF"
        tools:targetApi="31">

        <!-- Actividad de inicio -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SistemaAsistenciaRF">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Autenticación -->
        <activity android:name=".auth.AuthFragment" android:exported="true" />
        <activity android:name=".auth.LoginFragment" android:exported="true" />
        <activity android:name=".auth.RegisterFragment" android:exported="true" />

        <!-- Navegación principal -->
        <activity android:name=".ui.MainActivity" android:exported="true" />

        <!-- Gestión de usuarios -->
        <activity
            android:name=".ui.admin.ListaUsuariosActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ui.admin.FormularioUsuarioActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <!-- Detección facial -->
        <activity
            android:name=".recognition.DeteccionFacialActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

    </application>
</manifest>
